<div class="collection-item">
    <p>

        {{burger_name}}
        {{#unless devour}}

        <span class="badge devour-burger red white-text" data-id="{{id}}">Devour Me</span>

        {{#if CustomerId}}
        <div>
            Order By: <span class="custName">{{Customer.dataValues.customer_name}} (id={{CustomerId}})</span>
            <button class=" waves-effect waves-light btn blue darken-1 edit-customer dropdown-trigger"
                data-target="edit-list-burger{{@index}}" data-burgerid="{{id}}">Edit</button>

            <ul id='edit-list-burger{{@index}}' data-burgerid="{{id}}" class='dropdown-content edit-list'>

            </ul>
        </div>
        {{/if}}

        {{#unless CustomerId}}
        <div class="row">
            <p class="col s12">
                Customer:
                <select class="browser-default customersList " data-burgerid="{{id}}">
                    <option value="" disabled selected>Select a Customer</option>

                    {{!-- {{#each customer}}
                    <option value="{{id}}">{{customer_name}}</option>
                    {{/each}} --}}
                </select>
            </p>
        </div>
        {{/unless}}



        {{else}}

        <span class="badge remove-burger grey white-text" data-id="{{id}}">Remove</span>
        {{#if CustomerId}}
        <div>
            Devoured by: <span class="custName">{{Customer.dataValues.customer_name}} (id={{CustomerId}})</span>
            <button class=" waves-effect waves-light btn blue darken-1 edit-customer dropdown-trigger"
                data-target="edit-list-devour{{@index}}" data-burgerid="{{id}}">Edit</button>
            <ul id='edit-list-devour{{@index}}' data-burgerid="{{id}}" class='dropdown-content edit-list'>
            </ul>

        </div>
        {{/if}}

        {{#unless CustomerId}}
        <div class="row">
            <p class="col s6">
                Devoured by:
            </p>
            <select class="col s6 browser-default customersList" data-burgerId="{{id}}">
                <option value="" disabled selected>Select a Customer</option>
                {{!-- {{#each customer}}
                <option value="{{id}}">{{customer_name}}</option>
                {{/each}} --}}
            </select>
        </div>
        {{/unless}}

        {{/unless}}
    </p>

</div>