<div class="container">
    <h1><i class="fas fa-hamburger"></i> Eat-Da-Burger! <i class="fas fa-hamburger"></i></h1>

    <div class="row">
        <div class="col s1"></div>
        <div class="collection col s4" id="burgers">
            <h3>Devour a Burger</h2>
                {{#each burger}}
                {{#unless devoured}}
                {{> burger-block devour=false}}
                {{/unless}}
                {{/each}}

        </div>
        <div class="col s2"></div>

        <div class="collection col s4" id="devoured-burgers">
            <h3>Burgers Devoured</h2>
                {{#each burger}}
                {{#if devoured}}
                {{> burger-block devour=true customer=customer}}
                {{/if}}
                {{/each}}

        </div>
        <div class="col s1"></div>

    </div>

    <div class="row">
        <div class="col s1"></div>

        <div class="col s4">　
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter a Burger You Want to Eat and Begin Devouring" id="burger-name"
                        type="text">
                </div>
            </div>
            <div id="burger-validation">
                Please enter a burger name.
            </div>
        </div>

        <div class="col s2"></div>


        <div class="col s4">　
            <div class="row">
                <div class="input-field col s9">
                    <input placeholder="Enter a Customer Name" id="customer-name" type="text">
                </div>

                <div class="input-field col s3">
                    <button class="waves-effect waves-light btn" id="submit-customer">Submit
                    </button>
                </div>

            </div>
            <div id="customer-validation">
                Please enter a customer name.
            </div>
        </div>
        <div class="col s1"></div>

    </div>

    <div class="row">
        <div class="col s2"></div>
        <button class="waves-effect waves-light btn col s2" id="submit-burger">Begin Devouring</button>
        <div class="col s3"></div>

        <button class="waves-effect waves-light btn col s4 blue darken-1 modal-trigger" id="edit-customer"
            href="#customer-modal">View and
            Edit Existing
            Customer</button>

        {{!-- <button class="waves-effect waves-light btn col s2 " id="submit-customer">Submit</button> --}}

    </div>

</div>

<div id="customer-modal" class="modal">
    <div class="modal-content">
        <h4>Customers</h4>

        {{#each customer}}
        <p>{{customer_name}}</p>

        <ul class="customer-orders" data-customerid="{{id}}">
        </ul>

        {{!-- code working for nested each but if check requires more work
        <ul> 
            {{#each ../burger}}
            {{#if Customer.dataValues.id == }}
            <li>{{Customer.dataValues.customer_name}}
                (id={{Customer.dataValues.id}})</li>
            {{/if}}
            {{/each}}
        </ul> --}}

        {{/each}}

    </div>
</div>



{{!-- 
{{#each customer}}
<p value="{{id}}">{{customer_name}}</p>
{{/each}} --}}